<h1>Crea una nueva contraseña</h1>
<hr />
<form action="/session/reset-password/{{user}}" method="post">//hay q ver si esta bien el /session/reset-password/:user
    Nueva Contraseña: <input type="text" name="password"> <input type="submit" value="Cambiar contraseña"><br><br>
    <a href="/session/login">Login</a> | <a href="/session/register">Register</a>
</form>